{% extends 'base.html.twig' %}

{% block title %}Nouveau Livre{% endblock %}

{% block body %}
    <h1>Créer un nouveau livre</h1>

    {{ include('livre/_form.html.twig') }}

    <a href="{{ path('livre') }}" class="btn btn-outline-primary mt-2">Retour à la liste</a>
{% endblock %}
