<form method="post" class="pt-3" action="{{ path('supprimer_abonne', {'id': abonne.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ abonne.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
