{% extends 'base.html.twig' %}

{% block title %}Edit Emprunt{% endblock %}

{% block body %}
    <h1>Edit Emprunt</h1>

    {{ include('emprunt/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('emprunt') }}" class="btn btn-outline-primary mt-2">Retour a la liste</a>

    {{ include('emprunt/_delete_form.html.twig') }}
{% endblock %}
