{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveau Emprunt</h1>

    {{ include('emprunt/_form.html.twig') }}

    <a class="btn btn-outline-primary mt-2" href="{{ path('emprunt') }}">Retour à la liste</a>
{% endblock %}
